[project]
	description = The Go driver for MongoDB
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tim Gerk (tgerk)
[access "refs/for/refs/*"]
	read = group user/Tim Gerk (tgerk)
	push = group user/Tim Gerk (tgerk)
	label-Code-Review = -2..+2 group user/Tim Gerk (tgerk)
	label-Verified = -1..+1 group user/Tim Gerk (tgerk)
	rebase = group user/Tim Gerk (tgerk)
	removeReviewer = group user/Tim Gerk (tgerk)
	submit = group user/Tim Gerk (tgerk)
[access "refs/heads/*"]
	read = group user/Tim Gerk (tgerk)
	create = group user/Tim Gerk (tgerk)
	push = +force group user/Tim Gerk (tgerk)
	pushMerge = group user/Tim Gerk (tgerk)
[access "refs/tags/*"]
	push = group user/Tim Gerk (tgerk)
	push = +force group user/Tim Gerk (tgerk)
